In [ ]:
# Write a Python Program to print below Patterns using For and WhileLoop:

In [ ]:
Q 1.
*
**
***
****
*****

In [2]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [92]:
# using while loop.
n=5
i=0
while i<n:
    i+=1
    j=0
    while j<i:
        print("*",end=" ")
        j+=1
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
        *
      * *
    * * *
  * * * *
* * * * *

In [5]:
n=5
for i in range(1, n+1): 
    print("  " * (n-i) + "* " * i)

        *
      * *
    * * *
  * * * *
* * * * *

In [39]:
# using while loop
n = 5
i = 1
while i < n+1:
    j = 0
    while j < (n-i):
        print(' ', end=' ')
        j += 1
    k = 0
    while k < i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
    *
   * *
  * * *
 * * * *
* * * * *

In [13]:
n=5
for i in range(1, n +1): # i = 1, i = 2, i =3, i =4, i =5, i =6
    print(" " *  (n-i) + " *" * i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [94]:
# while loop
n=5
i=1
while i<(n+1):
    print(" "*(n-i)+" *" *i)
    i+=1

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
Q. 4
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end =" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
# using while loop
n = 5
i = 1
while i < n+1:
    j = 1
    while j < i+1:
        print(j, end=' ')
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
Q 5 
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
n = 5
x = 1
for i in range(1,n+1):
    for j in range(i):
        print(x, end = " ")
        x += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [5]:
# using while loop
n = 5
i = 1
count = 0
while i < n+1:
    j = 1
    while j < i+1:
        count += 1
        print(count, end=' ')
        j += 1
    print()
    i += 1

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
Q 6.
A     [Use ASCII Values]
B B
C C C
D D D D
E E E E E

In [14]:
n = 5
x = 65
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(x),end = " ")
    x +=1
    print()

A
B B
C C C
D D D D
E E E E E

In [6]:
# using while loop
n = 5
i = 1
k = 65
while i < n+1:
    j = 1
    while j < i+1:
        count += 1
        print(chr(k), end=' ')
        j += 1
    print()
    i += 1
    k += 1

A
B B
C C C
D D D D
E E E E E

In [ ]:
Q 7.
A
B C
D E F
G H I J
K L M N O

In [19]:
n = 5 
x = 65
for i in range(1,n+1):
    for j in range(i):
        print(chr(x),end =" ")
        x +=1
    print()

A
B C
D E F
G H I J
K L M N O

In [7]:
# using while loop
n = 5
i = 1
k = 65
while i < n+1:
    j = 1
    while j < i+1:
        count += 1
        print(chr(k), end=' ')
        j += 1
        k += 1
    print()
    i += 1

A
B C
D E F
G H I J
K L M N O

In [ ]:
Q 8.
K
K K
K K K
K K K K
K K K K K

In [21]:
n=5
for i in range(n):
    for j in range(i+1):
        print('k',end =" ")
    print()

k
k k
k k k
k k k k
k k k k k

In [8]:
# using while loop
n = 5
i = 1
while i < n+1:
    j = 1
    while j < i+1:
        count += 1
        print(chr(75), end=' ')
        j += 1
    print()
    i += 1

K
K K
K K K
K K K K
K K K K K

In [ ]:
Q 9.
A
A B
A B C
A B C D
A B C D E

In [34]:
n=5
for i in range(n+1):
    x=65
    for j in range(i):
        print(chr(x),end=" ")
        x +=1
        
    print()

A
A B
A B C
A B C D
A B C D E

In [9]:
# using while loop
n = 5
i = 1
while i < n+1:
    j = 1
    ascii_value = 65
    while j < i+1:
        count += 1
        print(chr(ascii_value), end=' ')
        j += 1
        ascii_value += 1
    print()
    i += 1

A
A B
A B C
A B C D
A B C D E

In [ ]:
Q 10.
P
Py
Pyt
Pyth
Pytho
Python

In [3]:

x= "Python"
for i in range(len(x)):
   
    for j in range(i+1):
        print(x[j],end ="")
    
        
    print()

P
Py
Pyt
Pyth
Pytho
Python

In [10]:
# using while loop
string = 'Python'
i = 0
while i < len(string):
    j = 0
    while j < (i+1):
        print(string[j], end='')
        j += 1
    print() # to print blank line
    i += 1

P
Py
Pyt
Pyth
Pytho
Python

In [ ]:
Q 11.
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [4]:
n=5
for i in range(n,0,-1):
    for j in range(i):
        print(n-i+1,end = " ")
    
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [12]:
# using while loop
n = 5
i = n
while i > 0 :
    j = 0
    while j < i:
        print(n-i+1, end = ' ')
        j += 1
    i -= 1
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
Q 12
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [7]:
n=6
for i in range(n,0,-1):
    for j in range(i):
        print(i,end= " ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [13]:
# using while loop
n = 6
i = n
while i > 0 :
    j = 0
    while j < i:
        print(i, end = ' ')
        j += 1
    i -= 1
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
Q 13.
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [19]:
n=5
for i in range (n,0,-1):
    for j in range(i+1):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
Q 14.
1
2 3 4
5 6 7 8 9

In [10]:
n = 3
count = 0
for i in range(1,n+1):
    for j in range(2*i -1):
        count += 1
        print(count, end = ' ')
    print()

1
2 3 4
5 6 7 8 9

In [15]:
# using while loop
n = 3
i = 1
count = 0
while i < n+1 :
    j = 0
    while j < 2*i - 1:
        count += 1
        print(count, end = ' ')
        j += 1
    i += 1
    print()

1
2 3 4
5 6 7 8 9

In [ ]:
Q 15.
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [37]:
n=5
#count=1
for i in range(n+1,0,-1):
    for i in range(i,0,-1):
        print(i,end=" ")
#        count +=1
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [17]:
# using while loop
n = 6
i = n
while i > 0 :
    j = i
    while j > 0:
        print(j, end = ' ')
        j -= 1
    i -= 1
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
Q 16
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [46]:
n=5
for i in range(1,n+1):
    for j in range(i):
        print(2*i-1,end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [18]:
# using while loop
n = 5
i = 1
while i < n+1:
    j = 0
    while j < i:
        print(2*i - 1, end =' ')
        j += 1
    print()
    i += 1

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
Q 17
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [62]:
n = 5
for i in range(1,n+1):
    print('  ' *(n-i), end = '')
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [29]:
# using while loop
n = 5
i = 1
while i <= n:
    print('  ' * (n-i), end = ' ')
    j = 1
    while j <= i:
        print(j, end = ' ')
        j += 1
    print()
    i += 1

         1
       1 2
     1 2 3
   1 2 3 4
 1 2 3 4 5

In [ ]:
Q 18.
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [66]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(i ,end = ' ')
    for k in range(i+1,n+1):
        print(k ,end = ' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [31]:
# using while loop
n = 5
i = 1
while i <= n:
    j = 0
    while j < i:
        print(i ,end = ' ')
        j += 1
    k = i+1
    while k <= n:
        print(k ,end = ' ')
        k += 1
    print()
    i += 1

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [ ]:
Q 19.
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [71]:
n=7
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [32]:
# using while loop
n = 7
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(i * j, end = ' ')
        j += 1
    print()
    i += 1

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [ ]:
Q 20.
1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [72]:
n=8
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(2**(j-1), end = ' ')
    print()

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [33]:
#using while loop
n = 8
i = 1
while i <= n:
    j = i
    while j > 0:
        print(2**(j-1), end = ' ')
        j -= 1
    print()
    i += 1

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [ ]:
Q 21
* * * * * * * * * * * * * *
 * * * * * *   * * * * * *
  * * * * *     * * * * *
   * * * *       * * * *
    * * *         * * *
     * *           * *
      *             *

In [76]:
n = 7
for i in range(n, 0,-1):
    print('* ' * i + '   ' * (n-i) + '* '* i)

* * * * * * * * * * * * * *
* * * * * *    * * * * * *
* * * * *       * * * * *
* * * *          * * * *
* * *             * * *
* *                * *
*                   *

In [36]:
# using while loop
n = 7
i = n
while i > 0:
    print('* ' * i + '   ' * (n-i) + '* '* i)
    i -= 1

* * * * * * * * * * * * * *
* * * * * *    * * * * * *
* * * * *       * * * * *
* * * *          * * * *
* * *             * * *
* *                * *
*                   *

In [ ]:
Q 22
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [77]:
n = 14
for i in range(1,(n//2)+1):
    for j in range(i):
        print('*', end = ' ')
    print()
for i in range(n//2,0,-1):
    for j in range(i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [37]:
# using while loop
n = 14
i = 1
while i <= (n//2):
    j = 0
    while j < i:
        print('*', end = ' ')
        j += 1
    print()
    i += 1

i = n//2
while i > 0 :
    j = 0
    while j < i:
        print('*', end = ' ')
        j += 1
    print()
    i -= 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
Q 23
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [81]:
n = 14
for i in range(1,(n//2)+1):
    for j in range(i):
        print('*', end = ' ')
    print()
print()
for i in range(n//2,0,-1):
    for j in range(i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [38]:
# using while loop
n = 14
i = 1
while i <= (n//2):
    j = 0
    while j < i:
        print('*', end = ' ')
        j += 1
    print()
    i += 1
print()
i = n//2
while i > 0 :
    j = 0
    while j < i:
        print('*', end = ' ')
        j += 1
    print()
    i -= 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*